<div id="qunit">
    <h1 id="qunit-header">
        <a href="/resources/example-index.html">QUnit Example</a>
    </h1>
    <h2 id="qunit-banner" class="qunit-pass"></h2>
    <div id="qunit-testrunner-toolbar">
        <input type="checkbox" id="qunit-filter-pass" />
        <label for="qunit-filter-pass">Hide passed tests</label>
    </div>

    <h2 id="qunit-userAgent">Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_5) AppleWebKit/537.17 (KHTML, like Gecko) Chrome/24.0.1312.56 Safari/537.17</h2>

    <p id="qunit-testresult" class="result">
        Tests completed in 19 milliseconds.<br>
        <span class="passed">1</span> tests of <span class="total">1</span> passed, <span class="failed">0</span> failed.
    </p>

    <ol id="qunit-tests">
        <li class="pass" id="qunit-test-output0">
            <strong>
                <span class="test-name">hello test</span>
                <b class="counts">(<b class="failed">0</b>, <b class="passed">1</b>, 1)</b>
            </strong>
            <a href="/resources/example-index.html?testNumber=1">Rerun</a>
            <ol style="display: none;">
                <li class="pass"><span class="test-message">Passed!</span></li>
            </ol>
        </li>
    </ol>

</div>
