<!doctype>
<html>
  <head>
    <title>Dalek test</title>
    <style type="text/css">{{{styles}}}</style>
</head>
<body>
    <div id="qunit">
        <h1 id="qunit-header">
            <a href="/resources/example-index.html">Dalek test</a>
        </h1>
        {{{banner}}}
        <div id="qunit-testrunner-toolbar">
            <input type="checkbox" id="qunit-filter-pass" />
            <label for="qunit-filter-pass">Hide passed tests</label>
        </div>

        {{{body}}}
    </div>
    <script>{{{js}}}</script>
</body>
</html>
